.pokedex {
  background-image: url("../../assets/body_bg.png");
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-top: 2em;
}

.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  width: 75%;
}

.logo {
  width: 60%;
}

.pokemonsSection {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 1em;
}
