.searchList {
  position: relative;
  width: 100%;
}

.searchInput {
  background-image: url("../../assets/searchicon.png");
  background-position: 1em 0.75em;
  background-repeat: no-repeat;
  background-size: 18px;
  border: 1px solid #ddd;
  border-radius: 1.5em;
  font-size: 16px;
  padding: 0.75em 1.25em 0.75em 2.875em;
  width: 100%;
}

.list {
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0.5em 0;
  max-height: 18.5em;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
}

.menuItem {
  background-color: #f6f6f6;
  border-top: 1px solid #ddd;
  color: black;
  display: block;
  font-size: 18px;
  padding: 0.75em;
  text-decoration: none;
  text-transform: capitalize;
}

.menuItem:hover {
  background-color: #eee;
}

.pokemonItem {
  display: flex;
  justify-content: space-between;
}

.pokemonItemInfo {
  color: gray;
  font-size: small;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1.5em);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
