.card {
  background-color: white;
  border: none;
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  height: var(--card-height);
  padding: 0;
  text-transform: capitalize;
  width: var(--card-width);
}

.loading {
  cursor: default;
}

.selectableCard {
  cursor: pointer;
  height: var(--card-small-height);
  width: var(--card-small-width);
}

.selectableCard:hover:not(.loading) {
  box-shadow: var(--card-box-shadow);
}

.hideCard {
  display: none;
}

@media only screen and (max-width: 900px) {
  .card {
    height: var(--card-small-height);
    width: var(--card-small-width);
  }

  .selectableCard {
    height: var(--card-small-device-height);
    padding: 0;
    width: var(--card-small-device-width);
  }
}

.enlarge {
  animation: enlarge 0.5s forwards;
  -webkit-animation: enlarge 0.5s forwards;
}

.reduce {
  animation: reduce 0.5s forwards;
  -webkit-animation: reduce 0.5s forwards;
}

@keyframes enlarge {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes reduce {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}
